@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background: #3d405b;
}

#title {
  text-align: center;
  font-size: 3rem;
  color: #f5f3f4;
}

.news-box {
  display: flex;
  padding: 1rem 3rem;
  width: 80%;
  margin: 2rem auto;
  background-color: #bdd4e7;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
  border-radius: 0.5rem;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.news-img {
  width: 15rem;
  margin: 1rem 1.5rem;
  border-radius: 0.5rem;
}

.news-summary {
  color: #212529;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #22223b;
}